.burger-btn {
  $line-h: 6px;
  $burger-h: calc($line-h * 5);
  $burger-w: calc($burger-h / 0.75);

  width: $burger-w;
  height: $burger-h;
  display: none;
  position: relative;
  background: none;

  span {
    display: block;
    position: absolute;
    height: $line-h;
    width: 100%;
    background: var(--color-ink-2);
    border-radius: $line-h;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all var(--transition-duration) ease-in-out;
  }

  span:nth-child(1) {
    top: 0;
  }
  span:nth-child(2),
  span:nth-child(3) {
    top: calc($line-h * 2);
  }
  span:nth-child(4) {
    top: calc($line-h * 4);
  }

  &.open span {
    background: var(--color-beige-5);
  }

  &.open span:nth-child(1),
  &.open span:nth-child(4) {
    top: calc($line-h * 2);
    width: 0;
    left: 50%;
  }

  &.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  &.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
}
