#navbar {
  $header-border-h: 2px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 100%;
  max-width: var(--desktop-max-width);
  height: var(--navbar-height);
  border-bottom: $header-border-h solid var(--color-header-border);
  background: var(--bg-header);
  padding-inline: var(--side-spacing);
  z-index: 99;

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: var(--navbar-height);
    width: 100%;
    top: 0;
    border-bottom: $header-border-h solid var(--color-header-border);
  }

  &::before {
    left: -100%;
    background: var(--color-bg-header-start);
  }

  &::after {
    left: 100%;
    background: var(--color-bg-header-end);
  }

  .menu {
    width: 100%;
    max-width: var(--container-max-width);
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 60px;
      width: 116px;
    }

    &__list {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      &__item {
        position: relative;
        height: 100%;
        line-height: 1.2;

        &::after {
          content: '';
          position: absolute;
          height: 4px;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 0;
          background: var(--color-text-accent-2);
          transition: width var(--transition-duration);
        }

        &:hover::after {
          width: 100%;
        }
      }

      &__link {
        height: 100%;
        padding-inline: 20px;
        display: flex;
        align-items: center;
        transition: all var(--transition-duration);

        &:hover {
          color: var(--color-text-accent-2);
        }
      }

      .chevron {
        width: 14px;
        height: 8px;
        margin: 0 0 1px 8px;
        transition: all var(--transition-duration);
      }

      .dropdown {
        display: none;
        position: absolute;
        min-width: 280px;
        top: 100%;
        left: 0;
        padding-top: $header-border-h;

        box-shadow: 0px 8px 16px 0px var(--color-tr-shadow);
        z-index: 1;

        &__item {
          border-bottom: 1px solid var(--color-header-border);
          background: var(--color-menu-dark);
          color: var(--color-text-dark);

          &:last-of-type {
            border-bottom: none;
          }

          &__link {
            padding: 15px 20px;
            display: block;
            transition: all var(--transition-duration);

            &:hover {
              color: var(--color-text-accent-2);
              background: var(--color-menu-border);
            }
          }
        }
      }

      &__item:hover .dropdown {
        display: flex;
        flex-direction: column;
      }

      &__item:hover .chevron {
        transform: rotateX(180deg);
      }
    }
  }
}
