.section {
  width: 100%;
  padding: 65px var(--side-spacing) 120px;

  &__header_dark,
  &__header_light {
    font-size: 42px;
    font-family: var(--font-family-header);
    text-align: center;
  }

  &__header_dark {
    color: var(--color-ink-1);
  }

  &__stripe_dark,
  &__stripe_light {
    width: 100%;
    max-width: 600px;
    height: 6px;
    margin: 50px auto 60px;
  }

  &__stripe_dark {
    background: var(--bg-stripe-dark);
  }
  &__stripe_light {
    background: var(--bg-stripe-light);
  }
}
