#products {
  position: relative;
  background: var(--bg-section-products);
  overflow-x: hidden;

  .products__decal {
    position: absolute;
    bottom: 0;
    right: 0;
    mix-blend-mode: overlay;
    opacity: 0.4;
    pointer-events: none;
  }

  .products__list {
    width: 100%;
    margin: 50px auto 65px;

    &__item {
      margin-bottom: 60px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .es-decoration {
      margin-left: calc((var(--side-spacing) + 200px) * -1);
    }

    .item-header {
      width: 100%;
      max-width: 550px;
      margin: -35px auto 50px;
      font-family: var(--font-family-header);
      font-size: 1.75rem;
      text-align: center;
    }

    .item-container {
      display: flex;
      flex-direction: row;
      gap: 40px 70px;
    }

    .item-picture {
      display: block;
    }

    .item-description {
      width: 100%;
      max-width: 720px;

      p {
        margin-bottom: 10px;
      }

      p:last-of-type {
        margin-bottom: 0;
      }

      &__link {
        color: var(--color-text-accent-1);
        transition: all var(--transition-duration);
      }

      &__short-list {
        margin: 30px auto 50px;
        width: 100%;

        li {
          position: relative;
          padding-left: 42px;
          margin-bottom: 20px;

          &:last-of-type {
            margin-bottom: 0;
          }

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            margin-top: 6px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: var(--bg-section);
          }
        }
      }
    }

    .item-description-list {
      list-style-type: none;
      counter-reset: num;
      width: 100%;

      .main-list__item {
        position: relative;
        margin: 0 auto 65px;
        z-index: 2;

        &:first-of-type {
          margin-top: 46px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .main-list__item:before {
        counter-increment: num;
        content: counter(num);
        display: inline-block;
        position: absolute;
        z-index: -1;
        top: -3.5rem;
        left: 25px;
        color: var(--bg-section);
        font-family: var(--font-family-header);
        font-size: 10rem;
        font-weight: bold;
      }

      .inner-list {
        margin-block: 20px;

        &__item {
          position: relative;
          margin: 0 0 10px 30px;

          &:last-of-type {
            margin-bottom: 0;
          }

          &::before {
            content: '–';
            position: absolute;
            left: -20px;
          }
        }
      }
    }
  }

  .products__conclusion {
    line-height: 1.25;
    font-weight: 300;
    font-style: italic;
    text-align: center;
  }
}
