#exp {
  background: var(--bg-section-exp);

  .exp__list {
    width: 100%;
    max-width: var(--container-width);
    margin-inline: auto;

    &__item {
      position: relative;
      margin: 0 -25px 50px;
      background: var(--color-beige-6);
      border-radius: 20px 56px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 28px;
        height: 28px;
        background: url('/img/decoration_corner.svg');
      }
    }

    .item-container {
      max-width: var(--container-max-width);
      margin-inline: 70px;
      display: flex;
      flex-direction: row;
      gap: 30px 80px;
    }

    .item-card {
      margin-block: -10px 30px;
      background: var(--bg-card);
      border-radius: 12px;
      box-shadow: var(--shadow-card-light);

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: 24px;

      &__text {
        max-width: 170px;
        margin-top: -6px;
        font-family: var(--font-family-accent);
        font-size: 36px;
        line-height: 1.15;
        color: var(--color-dirty-blue);
      }
    }

    .h-card {
      width: 280px;
      min-width: 280px;
      height: 120px;
    }

    .v-card-wrapper {
      display: flex;
      column-gap: 20px;
    }

    .v-card {
      width: 200px;
      height: 280px;
    }

    .item-text {
      max-width: 630px;
      padding-block: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 6px;

      font-size: 18px;
      font-weight: 300;
      line-height: 1.2;

      a {
        font-weight: bold;
        transition: color var(--transition-duration);
      }

      &__list li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 20px;

        &::before {
          content: '';
          position: absolute;
          top: 5px;
          left: 0;
          background: var(--color-beige-3);
          height: 12px;
          width: 12px;
          border-radius: 50%;
        }
      }
    }

    .large {
      padding-block: 40px 20px;
      justify-content: flex-start;
      row-gap: 20px;
    }
  }

  .exp__decal {
    position: absolute;
    left: calc(50% + 20px);
    bottom: 0;
    pointer-events: none;
    mix-blend-mode: soft-light;
    opacity: 0.2;
  }
}
